# Muhammad Nauman Sair
- [Kaggle](https://www.kaggle.com/muhammadnsair/Home)
- [Linkedin](https://www.linkedin.com/in/muhammad-nauman-sair/)
- [Github](https://github.com/mnsair)
- [twitter-X](https://twitter.com/NaumanSair)
- Email: mnsair@live.com

## Google App Store EDA

### To-Dos
1. Download the data [Google_Play_Store_apps](https://www.kaggle.com/datasets/lava18/google-play-store-apps)
2. Extract data from zip file
3. Import the Libraries
4. Read the data into python pandas
5. Crate EDA with ydata_profiling before wrangling
6. Understand the data
7. Assignments in this notebook
8. Crate EDA with ydata_profiling after wrangling

### Assignments in this notebook
1. Size Column:
   1. Varies with device to NaN
   2. Convert KBs to MBs
   3. dtype should be numeric or float64
   4. drop the Size column, and create new column name Size_MB
2. Price Column:
   1. drop $ sign
   2. dtype should be numeric or float64
3. Installs Column: bin the data for this column

### 3. Import the Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline   # this is used to create plots in the notebook

UsageError: unrecognized arguments: # this is used to create plots in the notebook

### 4. Read the data into python pandas

In [2]:
df = pd.read_csv('C:/Users/mnsai/Desktop/Python/AI-and-DS/data/googleplaystore.csv')
# Please select the path where you unzip and save the data

### 5. EDA Ydata Profiling before wrangling

In [ ]:
# # Automated EDA to review and understand the Data before wrandgling
# import ydata_profiling as yd
# profile = yd.ProfileReport(df)
# profile.to_file(output_file='C:/Users/mnsai/Desktop/Python/AI-and-DS/Output/06_ydata_kaggle_google.html')
# # This will create an HTML file at your selected location, preferred to open in Google Chrome

# # Note: ydata_profiling in not compatible with python 3.11 as of Oct 16,02023

### 6. Understand the data

In [3]:
# set option to be maximum for rows and columns
pd.set_option('display.max_columns', None)
pd.set_option('display.max_row', None)

# hide all warnings
import warnings
warnings.filterwarnings('ignore')

In [4]:
# check the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10840 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  int64
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10841 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10841 non-null  object
 9   Genres          10840 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10839 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 1.1+ MB

In [5]:
# data shape
print(f"The number of rows are {df.shape[0]}, and columns are {df.shape[1]}.")

The number of rows are 10841, and columns are 13.

In [6]:
# lets have a look at the data
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Viber Messenger,COMMUNICATION,4.3,11334799,Varies with device,"500,000,000+",Free,0,Everyone,Communication,18-Jul-18,Varies with device,Varies with device
1,imo free video calls and chat,COMMUNICATION,4.3,4785892,11M,"500,000,000+",Free,0,Everyone,Communication,8-Jun-18,9.8.000000010501,4.0 and up
2,Google Duo - High Quality Video Calls,COMMUNICATION,4.6,2083237,Varies with device,"500,000,000+",Free,0,Everyone,Communication,31-Jul-18,37.1.206017801.DR37_RC14,4.4 and up
3,UC Browser - Fast Download Private & Secure,COMMUNICATION,4.5,17712922,40M,"500,000,000+",Free,0,Teen,Communication,2-Aug-18,12.8.5.1121,4.0 and up
4,imo free video calls and chat,COMMUNICATION,4.3,4785988,11M,"500,000,000+",Free,0,Everyone,Communication,8-Jun-18,9.8.000000010501,4.0 and up

In [7]:
# Randomly pick the data to review it
# This also used to take sample from big data set
df.sample(10)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
2007,FOX NOW - On Demand & Live TV,ENTERTAINMENT,3.9,60841,Varies with device,"5,000,000+",Free,0,Teen,Entertainment,26-Jul-18,Varies with device,4.4 and up
7320,Bullshite!,GAME,2.8,48,13M,"10,000+",Free,0,Teen,Card,10-Apr-16,1.0.1,4.1 and up
795,Holl & Co Barbers,LIFESTYLE,4.7,12,6.0M,500+,Free,0,Everyone,Lifestyle,26-Feb-18,4.9.940,4.0 and up
7931,Bh Public School,FAMILY,5.0,2,8.7M,10+,Free,0,Everyone,Education,21-Mar-18,1.2,4.0.3 and up
5053,Bill Miller Bar-B-Q Store Ops,BUSINESS,NaN,0,2.5M,100+,Free,0,Everyone,Business,19-Jun-18,1.3,4.4 and up
4166,AB Click2Shop,SHOPPING,3.8,454,18M,"100,000+",Free,0,Everyone,Shopping,26-Jun-18,1.1.0.0,4.1 and up
7374,CF SHOP!,LIFESTYLE,2.8,88,43M,"10,000+",Free,0,Everyone,Lifestyle,30-Jun-18,1.8.1,4.4 and up
1256,BBWCupid - BBW Dating App,DATING,3.5,241,2.8M,"50,000+",Free,0,Mature 17+,Dating,1-Jun-18,2.2.0.1748,5.0 and up
10797,Aproveita DF,LIFESTYLE,NaN,0,3.3M,1+,Free,0,Everyone,Lifestyle,2-Aug-18,1,4.0 and up
1899,Santa Fe Thrive,HEALTH_AND_FITNESS,5.0,2,8.3M,50+,Free,0,Everyone,Health & Fitness,9-Jul-18,4.2.2,4.1 and up

In [8]:
print(df.describe()) # This will only summarize the numeric data

            Rating       Reviews
count  9367.000000  1.084100e+04
mean      4.191513  4.441119e+05
std       0.515735  2.927629e+06
min       1.000000  0.000000e+00
25%       4.000000  3.800000e+01
50%       4.300000  2.094000e+03
75%       4.500000  5.476800e+04
max       5.000000  7.815831e+07

### 7. Assignments in this notebook
Based on the data info we understand that Size and Price columns should be numeric, instead of str/object.\
For number of installs, the data is in thousands and ending with plus (+) sign, we can remvoe the + sign and convert create bins, or just convert the data to numeric as int or float.

#### Assignment 1 - Size Column
   1. Varies with device to NaN
   2. Convert KBs to MBs
   3. dtype should be numeric or float64
   4. drop the Size column, and create new column name Size_MB

In [9]:
# View the Size column infor
print(df['Size'].info())
print(df['Size'].value_counts())

<class 'pandas.core.series.Series'>
RangeIndex: 10841 entries, 0 to 10840
Series name: Size
Non-Null Count  Dtype
--------------  -----
10841 non-null  object
dtypes: object(1)
memory usage: 84.8+ KB
None
Size
Varies with device    1695
11M                    198
12M                    196
14M                    194
13M                    191
15M                    184
17M                    160
19M                    154
16M                    149
26M                    149
25M                    143
20M                    139
21M                    138
10M                    136
24M                    136
18M                    133
23M                    117
22M                    114
29M                    103
27M                     97
28M                     95
30M                     84
33M                     79
3.3M                    77
37M                     76
35M                     72
31M                     70
2.9M                    69
2.5M                    68
2.3M                    68
3.4M                    65
2.8M                    65
3.7M                    63
32M                     63
34M                     63
3.0M                    62
40M                     62
3.9M                    62
3.8M                    62
44M                     61
4.0M                    61
36M                     60
4.2M                    59
46M                     59
48M                     59
5.0M                    58
3.6M                    57
3.1M                    56
39M                     56
3.2M                    55
38M                     55
4.3M                    54
2.7M                    53
4.1M                    52
5.4M                    51
3.5M                    51
2.0M                    51
1.8M                    50
4.9M                    50
2.6M                    50
2.4M                    48
5.7M                    48
41M                     48
1.5M                    48
43M                     47
4.6M                    46
6.3M                    45
2.2M                    45
49M                     45
50M                     44
5.3M                    44
53M                     43
5.1M                    43
4.4M                    42
1.2M                    41
42M                     41
63M                     41
4.5M                    40
6.9M                    40
2.1M                    40
1.7M                    40
45M                     40
99M                     39
1.6M                    39
6.1M                    39
8.7M                    39
59M                     38
47M                     37
7.3M                    37
57M                     37
5.9M                    37
1.4M                    37
8.5M                    36
60M                     36
4.7M                    36
1.3M                    35
5.2M                    35
5.8M                    35
52M                     35
4.8M                    34
6.0M                    34
6.5M                    34
7.9M                    33
9.2M                    33
7.0M                    33
6.6M                    33
51M                     33
5.5M                    33
67M                     32
1.1M                    32
1.9M                    32
62M                     32
5.6M                    31
56M                     31
8.4M                    30
6.2M                    30
9.8M                    30
55M                     30
8.3M                    30
7.2M                    30
6.4M                    29
9.1M                    29
54M                     29
7.8M                    29
7.6M                    29
7.4M                    28
9.9M                    28
8.2M                    28
9.5M                    28
7.5M                    28
8.9M                    28
6.8M                    28
8.1M                    27
76M                     27
70M                     27
8.8M                    27
9.0M                    27
96M                     26
7.7M                    26
61M                     26
7.1M                    26
58M                     26
6.7M                    25
8.6M                    25
9.4M                    24
9.7M                    24
8.0M                    23
69M                     23
78M                     23
91M                     22
82M                     21
97M                     20
74M                     20
72M                     19
95M                     18
68M                     18
94M                     17
85M                     17
98M                     16
93M                     16
66M                     16
100M                    16
64M                     15
9.6M                    15
9.3M                    15
73M                     15
92M                     15
83M                     15
88M                     14
71M                     14
75M                     13
87M                     13
77M                     13
80M                     13
79M                     11
81M                     11
10.0M                   10
65M                     10
84M                      9
89M                      9
86M                      8
1.0M                     7
90M                      6
375k                     3
201k                     3
118k                     3
79k                      3
266k                     3
33k                      2
335k                     2
70k                      2
72k                      2
29k                      2
364k                     2
842k                     2
192k                     2
17k                      2
206k                     2
656k                     2
141k                     2
948k                     2
58k                      2
592k                     2
334k                     2
51k                      2
196k                     2
704k                     2
228k                     2
417k                     2
473k                     2
26k                      2
18k                      2
323k                     2
318k                     2
172k                     2
957k                     2
414k                     1
420k                     1
193k                     1
186k                     1
25k                      1
288k                     1
626k                     1
245k                     1
153k                     1
353k                     1
784k                     1
329k                     1
122k                     1
811k                     1
400k                     1
816k                     1
986k                     1
787k                     1
24k                      1
728k                     1
371k                     1
695k                     1
624k                     1
525k                     1
853k                     1
551k                     1
176k                     1
556k                     1
526k                     1
899k                     1
898k                     1
980k                     1
779k                     1
930k                     1
203k                     1
78k                      1
429k                     1
924k                     1
939k                     1
45k                      1
714k                     1
322k                     1
976k                     1
210k                     1
383k                     1
454k                     1
812k                     1
442k                     1
412k                     1
459k                     1
782k                     1
226k                     1
243k                     1
257k                     1
67k                      1
478k                     1
460k                     1
496k                     1
613k                     1
691k                     1
951k                     1
157k                     1
963k                     1
27k                      1
82k                      1
743k                     1
498k                     1
749k                     1
881k                     1
601k                     1
676k                     1
108k                     1
34k                      1
942k                     1
44k                      1
259k                     1
28k                      1
916k                     1
994k                     1
608k                     1
270k                     1
658k                     1
246k                     1
523k                     1
39k                      1
121k                     1
317k                     1
14k                      1
378k                     1
169k                     1
655k                     1
904k                     1
280k                     1
319k                     1
191k                     1
514k                     1
237k                     1
269k                     1
940k                     1
663k                     1
549k                     1
518k                     1
292k                     1
11k                      1
238k                     1
696k                     1
544k                     1
713k                     1
865k                     1
540k                     1
93k                      1
872k                     1
716k                     1
982k                     1
351k                     1
847k                     1
860k                     1
253k                     1
619k                     1
41k                      1
861k                     1
975k                     1
421k                     1
683k                     1
511k                     1
913k                     1
97k                      1
629k                     1
154k                     1
89k                      1
1020k                    1
232k                     1
373k                     1
208k                     1
862k                     1
772k                     1
554k                     1
251k                     1
313k                     1
239k                     1
220k                     1
965k                     1
545k                     1
283k                     1
717k                     1
308k                     1
721k                     1
430k                     1
200k                     1
506k                     1
552k                     1
161k                     1
48k                      1
562k                     1
920k                     1
585k                     1
50k                      1
857k                     1
954k                     1
887k                     1
636k                     1
754k                     1
376k                     1
992k                     1
8.5k                     1
241k                     1
314k                     1
730k                     1
756k                     1
74k                      1
444k                     1
306k                     1
175k                     1
647k                     1
598k                     1
219k                     1
116k                     1
837k                     1
221k                     1
309k                     1
485k                     1
437k                     1
499k                     1
234k                     1
840k                     1
903k                     1
387k                     1
190k                     1
73k                      1
404k                     1
467k                     1
582k                     1
293k                     1
902k                     1
81k                      1
475k                     1
705k                     1
569k                     1
222k                     1
801k                     1
55k                      1
516k                     1
780k                     1
961k                     1
642k                     1
458k                     1
775k                     1
500k                     1
921k                     1
874k                     1
981k                     1
892k                     1
970k                     1
914k                     1
785k                     1
20k                      1
643k                     1
600k                     1
164k                     1
54k                      1
879k                     1
170k                     1
160k                     1
144k                     1
143k                     1
470k                     1
240k                     1
688k                     1
23k                      1
720k                     1
953k                     1
746k                     1
91k                      1
818k                     1
61k                      1
609k                     1
350k                     1
778k                     1
103k                     1
209k                     1
173k                     1
597k                     1
809k                     1
411k                     1
885k                     1
Name: count, dtype: int64

Assigment 1 - Subpart 1: Convert the 'Varies with device" to NaN

There are no null values in `Size` column.

### Verify the number of values and 3 different kinds of values.

In [13]:
# find the values having M in them
df['Size'].loc[df['Size'].str.contains('M')].value_counts().sum()

8830

In [14]:
# find the values having k in them
df['Size'].loc[df['Size'].str.contains('k')].value_counts().sum()

316

In [15]:
# find the values having 'Varies with device' in them
df['Size'].loc[df['Size'].str.contains('Varies with device')].value_counts().sum()

1695

In [17]:
df['Size'] = df['Size'].replace('Varies with device', np.nan)
print(df['Size'].value_counts())
print(df['Size'].isnull().sum()) # As you see there were 1695 values are "Varies with Device", now shown as Null

Size
11M      198
12M      196
14M      194
13M      191
15M      184
17M      160
19M      154
16M      149
26M      149
25M      143
20M      139
21M      138
10M      136
24M      136
18M      133
23M      117
22M      114
29M      103
27M       97
28M       95
30M       84
33M       79
3.3M      77
37M       76
35M       72
31M       70
2.9M      69
2.3M      68
2.5M      68
2.8M      65
3.4M      65
34M       63
3.7M      63
32M       63
3.0M      62
3.9M      62
3.8M      62
40M       62
4.0M      61
44M       61
36M       60
4.2M      59
48M       59
46M       59
5.0M      58
3.6M      57
3.1M      56
39M       56
3.2M      55
38M       55
4.3M      54
2.7M      53
4.1M      52
5.4M      51
3.5M      51
2.0M      51
1.8M      50
4.9M      50
2.6M      50
5.7M      48
2.4M      48
1.5M      48
41M       48
43M       47
4.6M      46
49M       45
2.2M      45
6.3M      45
5.3M      44
50M       44
5.1M      43
53M       43
4.4M      42
63M       41
1.2M      41
42M       41
2.1M      40
45M       40
4.5M      40
6.9M      40
1.7M      40
8.7M      39
1.6M      39
99M       39
6.1M      39
59M       38
47M       37
7.3M      37
57M       37
5.9M      37
1.4M      37
8.5M      36
60M       36
4.7M      36
1.3M      35
5.2M      35
5.8M      35
52M       35
4.8M      34
6.0M      34
6.5M      34
7.9M      33
9.2M      33
7.0M      33
6.6M      33
51M       33
5.5M      33
67M       32
1.1M      32
1.9M      32
62M       32
5.6M      31
56M       31
8.4M      30
6.2M      30
9.8M      30
55M       30
8.3M      30
7.2M      30
6.4M      29
9.1M      29
54M       29
7.8M      29
7.6M      29
7.4M      28
9.9M      28
8.2M      28
9.5M      28
7.5M      28
8.9M      28
6.8M      28
8.1M      27
76M       27
70M       27
8.8M      27
9.0M      27
96M       26
7.7M      26
61M       26
7.1M      26
58M       26
6.7M      25
8.6M      25
9.4M      24
9.7M      24
8.0M      23
69M       23
78M       23
91M       22
82M       21
97M       20
74M       20
72M       19
95M       18
68M       18
94M       17
85M       17
98M       16
93M       16
66M       16
100M      16
64M       15
9.6M      15
9.3M      15
73M       15
92M       15
83M       15
88M       14
71M       14
75M       13
87M       13
77M       13
80M       13
79M       11
81M       11
10.0M     10
65M       10
84M        9
89M        9
86M        8
1.0M       7
90M        6
375k       3
201k       3
118k       3
79k        3
266k       3
51k        2
334k       2
29k        2
192k       2
842k       2
17k        2
206k       2
656k       2
33k        2
141k       2
592k       2
196k       2
58k        2
364k       2
70k        2
335k       2
417k       2
318k       2
323k       2
172k       2
228k       2
18k        2
26k        2
473k       2
72k        2
948k       2
704k       2
957k       2
210k       1
329k       1
899k       1
122k       1
400k       1
787k       1
986k       1
245k       1
288k       1
811k       1
526k       1
556k       1
153k       1
784k       1
176k       1
626k       1
551k       1
853k       1
193k       1
420k       1
525k       1
624k       1
695k       1
353k       1
25k        1
976k       1
898k       1
322k       1
383k       1
454k       1
714k       1
45k        1
939k       1
812k       1
924k       1
442k       1
78k        1
371k       1
203k       1
412k       1
459k       1
782k       1
930k       1
429k       1
728k       1
816k       1
414k       1
779k       1
980k       1
186k       1
226k       1
24k        1
257k       1
67k        1
460k       1
496k       1
613k       1
691k       1
951k       1
619k       1
157k       1
963k       1
27k        1
82k        1
743k       1
498k       1
749k       1
881k       1
601k       1
121k       1
108k       1
34k        1
942k       1
44k        1
259k       1
28k        1
916k       1
994k       1
608k       1
270k       1
658k       1
246k       1
523k       1
39k        1
478k       1
317k       1
676k       1
11k        1
169k       1
655k       1
904k       1
280k       1
319k       1
191k       1
514k       1
237k       1
269k       1
940k       1
663k       1
549k       1
518k       1
292k       1
238k       1
14k        1
696k       1
544k       1
713k       1
865k       1
540k       1
93k        1
872k       1
716k       1
982k       1
351k       1
847k       1
860k       1
253k       1
378k       1
243k       1
373k       1
861k       1
975k       1
421k       1
683k       1
511k       1
913k       1
97k        1
629k       1
154k       1
89k        1
1020k      1
232k       1
41k        1
208k       1
862k       1
772k       1
554k       1
251k       1
313k       1
239k       1
220k       1
965k       1
545k       1
283k       1
717k       1
308k       1
721k       1
430k       1
200k       1
506k       1
552k       1
161k       1
48k        1
562k       1
920k       1
585k       1
50k        1
857k       1
954k       1
887k       1
636k       1
754k       1
376k       1
992k       1
8.5k       1
241k       1
314k       1
730k       1
756k       1
74k        1
444k       1
306k       1
175k       1
647k       1
598k       1
219k       1
116k       1
837k       1
221k       1
309k       1
485k       1
437k       1
499k       1
234k       1
840k       1
903k       1
387k       1
190k       1
73k        1
404k       1
467k       1
582k       1
293k       1
902k       1
81k        1
475k       1
705k       1
569k       1
222k       1
801k       1
55k        1
516k       1
780k       1
961k       1
642k       1
458k       1
775k       1
500k       1
921k       1
874k       1
981k       1
892k       1
970k       1
914k       1
785k       1
20k        1
643k       1
600k       1
164k       1
54k        1
879k       1
170k       1
160k       1
144k       1
143k       1
470k       1
240k       1
688k       1
23k        1
720k       1
953k       1
746k       1
91k        1
818k       1
61k        1
609k       1
350k       1
778k       1
103k       1
209k       1
173k       1
597k       1
809k       1
411k       1
885k       1
Name: count, dtype: int64
1695

---
Observations
1. "Varies with device
2. M
3. k
___

In [18]:
df['Size'].value_counts()

Size
11M      198
12M      196
14M      194
13M      191
15M      184
17M      160
19M      154
16M      149
26M      149
25M      143
20M      139
21M      138
10M      136
24M      136
18M      133
23M      117
22M      114
29M      103
27M       97
28M       95
30M       84
33M       79
3.3M      77
37M       76
35M       72
31M       70
2.9M      69
2.3M      68
2.5M      68
2.8M      65
3.4M      65
34M       63
3.7M      63
32M       63
3.0M      62
3.9M      62
3.8M      62
40M       62
4.0M      61
44M       61
36M       60
4.2M      59
48M       59
46M       59
5.0M      58
3.6M      57
3.1M      56
39M       56
3.2M      55
38M       55
4.3M      54
2.7M      53
4.1M      52
5.4M      51
3.5M      51
2.0M      51
1.8M      50
4.9M      50
2.6M      50
5.7M      48
2.4M      48
1.5M      48
41M       48
43M       47
4.6M      46
49M       45
2.2M      45
6.3M      45
5.3M      44
50M       44
5.1M      43
53M       43
4.4M      42
63M       41
1.2M      41
42M       41
2.1M      40
45M       40
4.5M      40
6.9M      40
1.7M      40
8.7M      39
1.6M      39
99M       39
6.1M      39
59M       38
47M       37
7.3M      37
57M       37
5.9M      37
1.4M      37
8.5M      36
60M       36
4.7M      36
1.3M      35
5.2M      35
5.8M      35
52M       35
4.8M      34
6.0M      34
6.5M      34
7.9M      33
9.2M      33
7.0M      33
6.6M      33
51M       33
5.5M      33
67M       32
1.1M      32
1.9M      32
62M       32
5.6M      31
56M       31
8.4M      30
6.2M      30
9.8M      30
55M       30
8.3M      30
7.2M      30
6.4M      29
9.1M      29
54M       29
7.8M      29
7.6M      29
7.4M      28
9.9M      28
8.2M      28
9.5M      28
7.5M      28
8.9M      28
6.8M      28
8.1M      27
76M       27
70M       27
8.8M      27
9.0M      27
96M       26
7.7M      26
61M       26
7.1M      26
58M       26
6.7M      25
8.6M      25
9.4M      24
9.7M      24
8.0M      23
69M       23
78M       23
91M       22
82M       21
97M       20
74M       20
72M       19
95M       18
68M       18
94M       17
85M       17
98M       16
93M       16
66M       16
100M      16
64M       15
9.6M      15
9.3M      15
73M       15
92M       15
83M       15
88M       14
71M       14
75M       13
87M       13
77M       13
80M       13
79M       11
81M       11
10.0M     10
65M       10
84M        9
89M        9
86M        8
1.0M       7
90M        6
375k       3
201k       3
118k       3
79k        3
266k       3
51k        2
334k       2
29k        2
192k       2
842k       2
17k        2
206k       2
656k       2
33k        2
141k       2
592k       2
196k       2
58k        2
364k       2
70k        2
335k       2
417k       2
318k       2
323k       2
172k       2
228k       2
18k        2
26k        2
473k       2
72k        2
948k       2
704k       2
957k       2
210k       1
329k       1
899k       1
122k       1
400k       1
787k       1
986k       1
245k       1
288k       1
811k       1
526k       1
556k       1
153k       1
784k       1
176k       1
626k       1
551k       1
853k       1
193k       1
420k       1
525k       1
624k       1
695k       1
353k       1
25k        1
976k       1
898k       1
322k       1
383k       1
454k       1
714k       1
45k        1
939k       1
812k       1
924k       1
442k       1
78k        1
371k       1
203k       1
412k       1
459k       1
782k       1
930k       1
429k       1
728k       1
816k       1
414k       1
779k       1
980k       1
186k       1
226k       1
24k        1
257k       1
67k        1
460k       1
496k       1
613k       1
691k       1
951k       1
619k       1
157k       1
963k       1
27k        1
82k        1
743k       1
498k       1
749k       1
881k       1
601k       1
121k       1
108k       1
34k        1
942k       1
44k        1
259k       1
28k        1
916k       1
994k       1
608k       1
270k       1
658k       1
246k       1
523k       1
39k        1
478k       1
317k       1
676k       1
11k        1
169k       1
655k       1
904k       1
280k       1
319k       1
191k       1
514k       1
237k       1
269k       1
940k       1
663k       1
549k       1
518k       1
292k       1
238k       1
14k        1
696k       1
544k       1
713k       1
865k       1
540k       1
93k        1
872k       1
716k       1
982k       1
351k       1
847k       1
860k       1
253k       1
378k       1
243k       1
373k       1
861k       1
975k       1
421k       1
683k       1
511k       1
913k       1
97k        1
629k       1
154k       1
89k        1
1020k      1
232k       1
41k        1
208k       1
862k       1
772k       1
554k       1
251k       1
313k       1
239k       1
220k       1
965k       1
545k       1
283k       1
717k       1
308k       1
721k       1
430k       1
200k       1
506k       1
552k       1
161k       1
48k        1
562k       1
920k       1
585k       1
50k        1
857k       1
954k       1
887k       1
636k       1
754k       1
376k       1
992k       1
8.5k       1
241k       1
314k       1
730k       1
756k       1
74k        1
444k       1
306k       1
175k       1
647k       1
598k       1
219k       1
116k       1
837k       1
221k       1
309k       1
485k       1
437k       1
499k       1
234k       1
840k       1
903k       1
387k       1
190k       1
73k        1
404k       1
467k       1
582k       1
293k       1
902k       1
81k        1
475k       1
705k       1
569k       1
222k       1
801k       1
55k        1
516k       1
780k       1
961k       1
642k       1
458k       1
775k       1
500k       1
921k       1
874k       1
981k       1
892k       1
970k       1
914k       1
785k       1
20k        1
643k       1
600k       1
164k       1
54k        1
879k       1
170k       1
160k       1
144k       1
143k       1
470k       1
240k       1
688k       1
23k        1
720k       1
953k       1
746k       1
91k        1
818k       1
61k        1
609k       1
350k       1
778k       1
103k       1
209k       1
173k       1
597k       1
809k       1
411k       1
885k       1
Name: count, dtype: int64

Assigment 1 - \
2. Subpart 2: Convert the 'Varies with device" to NaN\
3. Subpart 3: dtype should be numeric or float64

In [11]:
def convert_size_to_MB(size_str):
    if 'k' in size_str:
        return float(size_str.replace('k', '')) / 1024  # KB to MB
    elif 'M' in size_str:
        return float(size_str.replace('M', ''))  # MB to MB
    else:
        return float(size_str)

Assigment 1 - \
4. Subpart 4: Create new column name Size_MB, and Drop the Size column

In [12]:
# Add a new Size column in KBs,Apply the conversion function to the 'Size' column
df['Size_MB'] = df['Size'].astype(str).apply(convert_size_to_MB)

#drop the Size Column
df = df.drop('Size', axis=1)

# Dataframe info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10840 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  int64
 4   Installs        10841 non-null  object
 5   Type            10841 non-null  object
 6   Price           10841 non-null  object
 7   Content Rating  10841 non-null  object
 8   Genres          10840 non-null  object
 9   Last Updated    10841 non-null  object
 10  Current Ver     10833 non-null  object
 11  Android Ver     10839 non-null  object
 12  Size_MB         9146 non-null   float64
dtypes: float64(2), int64(1), object(10)
memory usage: 1.1+ MB

In [13]:
df.tail(10)

,App,Category,Rating,Reviews,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Size_MB
10831,Pekalongan CJ,SOCIAL,NaN,0,0+,Free,0,Teen,Social,21-Jul-18,0.0.1,4.4 and up,5.9
10832,CX Network,BUSINESS,NaN,0,0+,Free,0,Everyone,Business,6-Aug-18,1.3.1,4.1 and up,10.0
10833,Sweden Newspapers,NEWS_AND_MAGAZINES,NaN,0,0+,Free,0,Everyone,News & Magazines,7-Jul-18,1.1,4.4 and up,2.1
10834,Test Application DT 02,ART_AND_DESIGN,NaN,0,0+,Free,0,Everyone,Art & Design,14-Mar-17,4,4.2 and up,1.2
10835,EG | Explore Folegandros,TRAVEL_AND_LOCAL,NaN,0,0+,Paid,$3.99,Everyone,Travel & Local,22-Jan-17,1.1.1,4.1 and up,56.0
10836,EP Cook Book,MEDICAL,NaN,0,0+,Paid,$200.00,Everyone,Medical,26-Jul-15,1,3.0 and up,3.2
10837,Eu sou Rico,FINANCE,NaN,0,0+,Paid,$30.99,Everyone,Finance,9-Jan-18,1,4.0 and up,2.6
10838,Eu Sou Rico,FINANCE,NaN,0,0+,Paid,$394.99,Everyone,Finance,11-Jul-18,1,4.0.3 and up,1.4
10839,I'm Rich/Eu sou Rico/ /,LIFESTYLE,NaN,0,0+,Paid,$399.99,Everyone,Lifestyle,1-Dec-17,MONEY,4.1 and up,40.0
10840,Command & Conquer: Rivals,FAMILY,NaN,0,0,Free,0,Everyone 10+,Strategy,28-Jun-18,Varies with device,Varies with device,NaN

#### Assignment 2-Price Column:
   1. drop $ sign
   2. dtype should be numeric or float64

In [14]:
# Remove '$' sign and convert to float
df['Price'] = df['Price'].str.replace('$', '').astype(float)

# Display the DataFrame
df.tail(10)

,App,Category,Rating,Reviews,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Size_MB
10831,Pekalongan CJ,SOCIAL,NaN,0,0+,Free,0.00,Teen,Social,21-Jul-18,0.0.1,4.4 and up,5.9
10832,CX Network,BUSINESS,NaN,0,0+,Free,0.00,Everyone,Business,6-Aug-18,1.3.1,4.1 and up,10.0
10833,Sweden Newspapers,NEWS_AND_MAGAZINES,NaN,0,0+,Free,0.00,Everyone,News & Magazines,7-Jul-18,1.1,4.4 and up,2.1
10834,Test Application DT 02,ART_AND_DESIGN,NaN,0,0+,Free,0.00,Everyone,Art & Design,14-Mar-17,4,4.2 and up,1.2
10835,EG | Explore Folegandros,TRAVEL_AND_LOCAL,NaN,0,0+,Paid,3.99,Everyone,Travel & Local,22-Jan-17,1.1.1,4.1 and up,56.0
10836,EP Cook Book,MEDICAL,NaN,0,0+,Paid,200.00,Everyone,Medical,26-Jul-15,1,3.0 and up,3.2
10837,Eu sou Rico,FINANCE,NaN,0,0+,Paid,30.99,Everyone,Finance,9-Jan-18,1,4.0 and up,2.6
10838,Eu Sou Rico,FINANCE,NaN,0,0+,Paid,394.99,Everyone,Finance,11-Jul-18,1,4.0.3 and up,1.4
10839,I'm Rich/Eu sou Rico/ /,LIFESTYLE,NaN,0,0+,Paid,399.99,Everyone,Lifestyle,1-Dec-17,MONEY,4.1 and up,40.0
10840,Command & Conquer: Rivals,FAMILY,NaN,0,0,Free,0.00,Everyone 10+,Strategy,28-Jun-18,Varies with device,Varies with device,NaN

In [15]:
# Rerun the df.info to check the executions
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10840 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  int64
 4   Installs        10841 non-null  object
 5   Type            10841 non-null  object
 6   Price           10841 non-null  float64
 7   Content Rating  10841 non-null  object
 8   Genres          10840 non-null  object
 9   Last Updated    10841 non-null  object
 10  Current Ver     10833 non-null  object
 11  Android Ver     10839 non-null  object
 12  Size_MB         9146 non-null   float64
dtypes: float64(3), int64(1), object(9)
memory usage: 1.1+ MB

Its been verified that `Size` column converted to MBs, Varies with device converted to NaN\
Price column converted to numeric and $ sign dropped

#### Assignment - 3. Installs Column: bin the data for this column

In [16]:
# Remove ',' and '+' and convert to integers
df['Installs'] = df['Installs'].str.replace(',', '').str.rstrip('+').astype(int)

In [17]:
# Understand the Installs Column
df['Installs'].value_counts()

Installs
1000000       1579
10000000      1252
100000        1169
10000         1054
1000           908
5000000        752
100            719
500000         539
50000          479
5000           477
100000000      409
10             386
500            330
50000000       289
50             205
5               82
500000000       72
1               67
1000000000      58
0               15
Name: count, dtype: int64

In [24]:
# binning of age columns into 7 categories
bins = [0,1000,100000,1000000,10000000,1000000000]
labels = ['UnderThousand','In100Ks','In1000ks','InMillions','InBillions']
df['Installs_Group'] = pd.cut(df['Installs'], bins, labels=labels) 
# cut the `Installs` data into bins and add a new column name `Installs_Group` into the data. adding a new column called feature enginerring
df.head()

,App,Category,Rating,Reviews,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Size_MB,Installs_Group
0,Viber Messenger,COMMUNICATION,4.3,11334799,500000000,Free,0.0,Everyone,Communication,18-Jul-18,Varies with device,Varies with device,NaN,InBillions
1,imo free video calls and chat,COMMUNICATION,4.3,4785892,500000000,Free,0.0,Everyone,Communication,8-Jun-18,9.8.000000010501,4.0 and up,11.0,InBillions
2,Google Duo - High Quality Video Calls,COMMUNICATION,4.6,2083237,500000000,Free,0.0,Everyone,Communication,31-Jul-18,37.1.206017801.DR37_RC14,4.4 and up,NaN,InBillions
3,UC Browser - Fast Download Private & Secure,COMMUNICATION,4.5,17712922,500000000,Free,0.0,Teen,Communication,2-Aug-18,12.8.5.1121,4.0 and up,40.0,InBillions
4,imo free video calls and chat,COMMUNICATION,4.3,4785988,500000000,Free,0.0,Everyone,Communication,8-Jun-18,9.8.000000010501,4.0 and up,11.0,InBillions

In [39]:

sns.histplot(df['Installs_Group']) #just incasxe if histogram failed to plot in working notebokk, run the following function.
plt.savefig('Installs_Group_Hist.png') # This will create and save the histogram in the same folder

### 8. Crate EDA with ydata_profiling after wrangling

In [38]:
import ydata_profiling as yd
profile = yd.ProfileReport(df)
profile.to_file(output_file='C:/Users/mnsai/Desktop/Python/AI-and-DS/Output/07_ydata_kaggle_google_CleanData.html')
#An HTML File save at directed location

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

Now one can comapare Two EDAs for better understanding, really helpful.